* {
    font: outfit;
}

.navbar-brand {
    color: #a80000 !important;
}

.btn-light {
    background-color: rgb(226, 226, 226) !important;
}

.search-bg{
    background-color: #08395D !important;
}

.search-btn{
    background-color: #A80000 !important;
}

.search-border{
    border: 1px solid rgb(206, 212, 218) !important;
}