* {
    font: outfit;
}

.navbar-brand {
    color: #a80000 !important;
}

.btn-sign-up {
    background-color: black !important;
}

.btn-light {
    background-color: rgb(226, 226, 226) !important;
}